[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/googlebenchmark"]
	path = external/googlebenchmark
	url = https://github.com/google/benchmark
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
