name: ci 

on: 
  push:
    branches: 
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] 

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Configure
      run: |
        cmake -S. -B build -DCMAKE_BUILD_TYPE=Release
    - name: Build
      run: |
        cmake --build build
    - name: Run Tests 
      run: |
        cd build
        ctest -j 8 --output-on-failure --verbose